.container h1 a {
  text-decoration: none;
  color: #000000;
}

#login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80svh;
}

#login-page .card {
  border: none;
  margin: 150px 0 20px 0;
}

.text-center a {
  text-decoration: none;
}

#register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#register-page .card {
  border: none;
}

#register-page .card-title {
  margin: 150px 0 20px 0;
}

.text-center a {
  text-decoration: none;
}

#register-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 80svh;
}

#register-options .card {
  border: none;
  text-align: center;
}
