{% load static %}

{% include 'messages.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Access Key Manager{% endblock %}</title>

     <!-- Stylesheets and Fonts -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/table_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    
    <!-- Favicon Icons -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32" type="image/png">
    <link rel="icon" href="{% static 'img/favicon-16x16.png' %}" sizes="16x16" type="image/png">
    {% block stylesheet %}{% endblock %}
</head>
<body>
    {% block body %}
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static "img/akm-logo.png" %}" alt="AKM logo">
                    <span class="home">Access Key Manager</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        {% if user.is_authenticated %}
                            <!-- Dropdown Menu for Authenticated Users -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="username ms-2">{{ user.get_full_name }}</span>
                                    <div class="user-icon d-none d-lg-flex justify-content-center align-items-center bg-secondary">
                                        <img src="{% static "img/user_avatar.png" %}" alt="user-avatar">
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end bg-light" aria-labelledby="navbarDropdown">
                                    {% if not user.school and user.is_school_personnel %}
                                        <li><a class="dropdown-item" href="{% url 'complete_profile' %}">Complete Profile</a></li>
                                    {% else %}
                                        <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                                    {% endif %}
                                    {% if user.is_school_personnel %}
                                    <li><a class="dropdown-item" href="{% url 'access_keys:purchase_access_key' %}">Purchase Key</a></li>
                                    {% endif %}
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <form method="POST" action="{% url 'logout' %}">
                                            {% csrf_token %}
                                            <button class="dropdown-item" type="submit">Logout</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <!-- Links for Unauthenticated Users -->
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{% url 'register_options' %}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    
    <div class="container-fluid mt-4" id="main-container">
        <div class="row">
            <!-- Sidebar -->
            {% block sidebar %}
            <div class="col-12 col-lg-3 d-none d-lg-block bg-light" id="sidebar">
                <!-- User Specific Information -->
                <div class="card">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_admin %}
                            <h2>{{ total_registered_schools }}</h2>
                            <p><small>Total Schools Registered</small></p>
                        {% elif request.user.is_school_personnel %}
                            {% if active_key %}
                                <h6>{{ active_key.key }}</h6>
                            {% else %}
                                <h4>No Active Key</h4>
                            {% endif %}
                            <p><small>Active Key</small></p>
                        {% else %}
                            <h2>0</h2>
                            <p><small>Total Schools Registered</small></p>
                        {% endif %}
                    {% else %}
                        <h6>Welcome to Access Key Manager</h6>
                        <p><small>Please log in or register to manage your school's access keys.</small></p>
                    {% endif %}
                </div>
            
                <div class="card">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_admin %}
                            <h2>{{ total_active_keys }}</h2>
                            <p><small>Total Active Keys</small></p>
                        {% elif request.user.is_school_personnel %}
                            {% if active_key %}
                                <h3>{{ active_key.expiry_date }}</h3>
                            {% else %}
                                <h4>No Active Key</h4>
                            {% endif %}
                            <p><small>Expiry Date</small></p>
                        {% else %}
                            <h2>0</h2>
                            <p><small>Total Active Keys</small></p>
                        {% endif %}
                    {% else %}
                        <h6>About Access Key Manager</h6>
                        <p><small>Manage your school's access keys efficiently and securely. Log in to get started.</small></p>
                    {% endif %}
                </div>
            
                <div class="card">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_admin %}
                            <h2>{{ total_keys_purchased }}</h2>
                            <p><small>Total Keys Purchased</small></p>
                        {% elif request.user.is_school_personnel %}
                            <h2>{{ keys_purchased_count }}</h2>
                            <p><small>Key(s) Purchased</small></p>
                        {% else %}
                            <h2>0</h2>
                            <p><small>Total Keys Purchased</small></p>
                        {% endif %}
                    {% else %}
                        <h6>Get Started</h6>
                        <p><small>To use Access Key Manager, log in or register. You can view and manage your access keys once logged in.</small></p>
                    {% endif %}
                </div>
            </div>
            {% endblock %}

    
            <!-- Main content -->
            <div class="container col-12 col-lg-9" id="main-content">
                {% block content %}{% endblock %}
            </div>
            <div class="container col-12 col-lg-12" id="home-content">
                {% block home_content %}{% endblock %}
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    {% block footer %}
    <footer class="bg-light text-center text-lg-start mt-4" id="footer">
        <div class="container p-4">
            <div class="row">
                <div class="text-center mb-0 mb-md-0">
                    <div class="mb-md-0">
                        <small>
                            <h6>Contact Us</h6>
                            <ul class="list-unstyled mb-0">
                                <li>Email: <a href="mailto:ekmpizarro@gmail.com">Click to email</a> | Phone: +233 55 524 4922</li>
                            </ul>
                        </small>
                    </div>
                    <hr>
                    <div class="text-center">
                        <small>
                            &copy; 2024 Access Key Manager. All rights reserved. <img src="{% static "img/mf-icon.png" %}" alt="micro focus logo">Micro Focus Inc.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}

    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{% static 'js/messages.js' %}"></script>
    {% block scripts %}{% endblock %}
    
    {% endblock body %}
</body>
</html>
