{% extends "base.html" %}

{% include 'messages.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}
  <div class="container">
    <!-- Authentication Logo and Title -->
    <div class="auth-logo">
      <h1 class="text-center my-2">
        <a href="{% url 'home' %}">Access Key Manager</a>
      </h1>
      <div class="app-logo">
        <img src="{% static "img/akm-logo.png" %}" alt="AKM logo">
      </div>
    </div>

    <!-- Content Container -->
    <div class="container-fluid">
      {% block content %}
      {% endblock %}
    </div>
  </div>

{% endblock %}


