{% extends 'base.html' %}

{% load static %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
  <div class="back">
    <a href="{% url 'home' %}">
        <i class="fas fa-arrow-left"></i>Home
    </a>
  </div>
  <div class="mt-4">
    <h1>Admin Dashboard</h1>

    <div class="alert alert-info">
      <p>Welcome, {{ request.user.get_full_name }}</p>
    </div>

    <div class="mt-3">
    <h2>Access Keys</h2>
    {% if access_keys %}
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th>Key</th>
            <th>School</th>
            <th>Status</th>
            <th>Procurement Date</th>
            <th>Expiry Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for access_key in access_keys %}
            <tr class="access-key-{{ access_key.status }}">
              <td>{{ access_key.key }}</td>
              <td>{{ access_key.school.name }}</td>
              <td>{{ access_key.get_status_display }}</td>
              <td>{{ access_key.procurement_date }}</td>
              <td>{{ access_key.expiry_date }}</td>
              <td>
                {% if access_key.status == 'active' %}
                  <a href="{% url 'access_keys:revoke_access_key' access_key.id %}" class='btn btn-primary'>Revoke</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody> 
      </table>
    </div>
    {% else %}
      <p>No access keys found.</p>
    {% endif %}
    </div>    

    <!-- Key Logs Section -->
    <div class="mt-4">
      <button id="toggle-log" class="btn btn-info">View Logs</button>
      <div id="key-log">
        <h2>Key Logs</h2>
        <div class="table-responsive">
          <table class="table table-hover mt-3">
            <thead class="table-dark">
              <tr>
                <th>User</th>
                <th>Action</th>
                <th>Timestamp</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              {% for log in key_logs %}
                <tr>
                  <td>{{ log.user.get_full_name }}</td>
                  <td>{{ log.action }}</td>
                  <td>{{ log.timestamp }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <a href="{% url 'logout' %}" class="btn btn-secondary mt-3">Logout</a>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/keyLogs.js' %}"></script>
{% endblock %}