{% extends 'base.html' %}

{% block title %}Payment Details{% endblock %}

{% block content %}
<div class="container">
    <div class="back">
        <a href="{% url 'profile' %}">
            <i class="fas fa-arrow-left"></i>Profile
        </a>
    </div>
    <div class="mt-4">
        <h4>Payment Details</h4>
        {% if billing_info %}
            <p><strong>Payment Method:</strong> {{ billing_info.get_payment_method_display }}</p>
            {% if billing_info.payment_method == "card" %}
                <p><strong>Card Number:</strong> **** **** **** {{ billing_info.card_number|slice:"-4:" }}</p>
                <p><strong>Expiry:</strong> {{ billing_info.card_expiry }}</p>
                <p><strong>CVV:</strong> ***</p>
            {% elif billing_info.payment_method == "mtn_momo" %}
                <p><strong>Mobile Money Number:</strong> {{ billing_info.mobile_money_number }}</p>
            {% endif %}
        {% else %}
            <p>No details found.</p>
        {% endif %}
    </div>
    <div class="mt-4">
        <a href="{% url 'update_billing_info' %}" class="btn btn-primary">Update Payment Details</a>
    </div>
</div>
{% endblock %}
