{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="back">
        {% if user.is_school_personnel %}
        <a href="{% url 'school_dashboard' %}">
            <i class="fas fa-arrow-left"></i>Dashboard
        </a>
        {% else %}
        <a href="{% url 'admin_dashboard' %}">
            <i class="fas fa-arrow-left"></i>Dashboard
        </a>
        {% endif %}
    </div>
    <div class="mt-3" id="profile">
        <div class="profile-item">
            <h2>Profile</h2>
            <p><strong>Username:</strong> @{{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>First Name:</strong> {{ user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
            {% if user.is_admin %}
            <p><strong>Staff ID:</strong> {{ user.staff_id }}</p>
            <div class="mt-3">
                <a href="{% url 'update_profile' %}" class="btn btn-primary">Update Profile</a>
            </div>
            {% elif user.is_school_personnel %}
                {% if user.school %}
                    <p><strong>School:</strong> {{ user.school.name }}</p>
                    <div class="mt-3">
                        <a href="{% url 'update_profile' %}" class="btn btn-primary">Update Profile</a>
                    </div>
    
        </div>
        <div class="profile-item">
                <h2>Active Access Key</h2>
                {% if active_key %}
                    <p><strong>Key:</strong> {{ active_key.key }}</p>
                    <p><strong>Status:</strong> {{ active_key.status }}</p>
                    <p><strong>Procurement Date:</strong> {{ active_key.procurement_date }}</p>
                    <p><strong>Expiry Date:</strong> {{ active_key.expiry_date }}</p>
                    {% else %}
                        <p>No active access key found.</p>
                    {% endif %}
                {% else %}
                    <p>No school associated with your profile. Please <a href="{% url 'complete_profile' %}">complete your profile</a>.</p>
                {% endif %}
            {% endif %}
            <div class="mt-3">
                {% if user.is_school_personnel %}
                <a href="{% url 'billing_information' %}" class="btn btn-info">View Payment Details</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
